body {
  background: #f1f4f5
}
.app {
  display: flex;
}

aside.primary-aside {
  width: 200px;
}

main {
  flex: 1;
}


.auth-container {
  margin-top: 100px;  
}

.auth-container .title {
  margin-bottom: 30px;
  font-size: 18px;
}

.auth-container .box {
  background: white;
  /*padding: 30px;*/
  padding: 30px 10px;
  border: 1px solid #dedede;
}

.sidebar-toggler, .sidebar-toggler:hover {
  color: white;
  margin-left: 20px;
}

.sidebar {
    /*background: #efefef;
    position: absolute;
    
    height: 100%;
    padding-top: 20px;

    width: 220px;
    position: absolute;
    height: 100%;
    padding-top: 60px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);*/

    background-color: #ffffff;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.05);
    width: 220px;
    position: absolute;
    padding-top: 60px;
    /*padding-top: 60px;*/
    height: 100%;
    /*top: 0px;*/
    left: 0px;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar .xp-side-nav-links li{
    list-style: none;
}


.sidebar .xp-side-nav-links li  a {    
    padding: 15px 25px;
    display: block;
    color: #444444;
    line-height: 1.3;
}

.sidebar .xp-side-nav-links li  a:hover {
    text-decoration: none;    
    border-left:3px solid #f10c0c;
    margin-right: -2px;

    color: #2F353F;
    background: #E6EBEC;
}


.sidebar .xp-side-nav-links li  a:visited {
    text-decoration: none;
}

.sidebar .xp-side-nav-links li  a.active {                        
    text-decoration: none;
    border-left:3px solid #f10c0c;
    margin-right: -2px;
    color: #2F353F;
    background: #E6EBEC;
}

.sidebar .fa {
    width: 1.8em;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd !important;
}

.header {
    padding: 10px 20px;
    background: #2f353f;
    color: white;
    font-size: 18px;
}

.header .app-user {
  font-size: 14px;
}

.header .app-user a{
  text-decoration: none;
  color: white;
}

.header .app-user a:hover {
  color: #9e9e9e;
}

.container.app {
  background: white;
  padding: 20px;
  margin-top: 20px;
  display: block;
}

.app-content {
    margin-left: 240px;
    margin-right: 20px;
    margin-top:20px;
    background: white;
    padding: 20px;
}

.app-content.full {
  margin-left: 20px !important;
}

.app-content .content-header, .container.app .content-header {
  margin-bottom: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
}

.app-content .content-header .title, .container.app .content-header .title {
  font-size: 24px;
  margin-bottom: 20px;
  /*font-weight: bold;*/
  padding: 0 0 0 6px;
  color: #696969;
}

.zero-items {
    text-align: center;    
    margin-top: 60px;
    margin-bottom: 60px;
}

.table .col-1 {
  width: 30px;
}

.table i.fa {
  padding-left: 4px; 
}

.table .col-2 {
  width: 60px;
}

.active {
  color: green;
}

.form-buttons .btn {
  margin-left: 10px;
}

.total {
  font-size: 40px;
}

.total-amount {
  color: green;
}


/*.row notify-panel-holder .show {
  display: block;
}*/


.invoice .add-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  right: 0px;
  text-align: right;
}

.invoice .item-name-col {
  width: 20%;
}

.invoice .item-description-col {
  width: 30%;
}

.invoice .tright {
  text-align: right
}

.invoice .tright.price {
  width: 200px
}

.invoice .summing-box {
  margin-top: 30px;
}

.invoice .summing-box .row {
  margin-bottom: 10px;
}

.invoice .actions {
    border-top: 1px solid #dedede;
    padding: 20px 0px;
    /*background: #f1f4f5;*/
    /*margin-left: -20px;*/
    /* padding-right: 0px; */
    margin-bottom: -20px;
    /*margin-right: -20px;*/
}

.pull-right .btn {
    margin-left: 10px;
}

.notify-panel-holder {
  color: white;
  position: fixed;
  margin: 5px;
  z-index: 1050;
  top: 0;
  width: 440px;
}

.notify-panel {
  padding: 7px 20px;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}


/*Overrides*/
.react-selectize.root-node {
  width: 100% !important;
}

.react-selectize.root-node .react-selectize-control {
  padding: 1px !important; 
}

.react-selectize.root-node .react-selectize-control .react-selectize-search-field-and-selected-values .resizable-input {
  margin: 0px !important;
}

.bg-success {
  background: #34c73b !important;
}

.notify-panel .bg-success {
  border: 1px solid #33b86c;
}

.bg-info {
  background-color: #3fb7ee;
}


.notify-panel .bg-info {
  border: 1px solid #1ca8dd;
}


.bg-warning {
  background-color: #f7c836;
}


.notify-panel .bg-warning {
  border: 1px solid #ebc142;
}


.bg-danger {
  background-color: #d74548;
}


.notify-panel .bg-info {
  border: 1px solid #d74548;
}
